{% extends "base.html" %}

{% block content %}
<form method="GET" action="/goods_page">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
    <tbody>
         {% for row in rows %}
        <tr>
         <td>{{ row.name }}</td>
         <td>{{ row.brand }}</td>
         <td>{{ row.price }}</td>
         </tr>
         {% endfor %}
    </tbody>
    </table>
</form>
    {% endblock %}
