{% extends "base.html" %}

{% block content %}
<form method="GET" action="/orders">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <tbody>
         <tr>
         <td>{{ datas.order_id }}</td>
         <td>{{ datas.created_time }}</td>
         </tr>
    </tbody>
        </table>
                <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
              {% for good in goods %}
             <td>{{ good.name }}</td>
             <td>{{ good.price }}</td>
         </tr>
              {% endfor %}
        </tbody>
     </table>
            </tr>
        </thead>

</form>
    {% endblock %}



