{% extends "base.html" %}

{% block content %}
<form method="GET" action="/goods_page">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Price orders</th>

            </tr>
        </thead>
    <tbody>
         {% for order in goods %}
        <tr>
         <td>{{ order['numberOrder'] }}</td>
         <td>{{ order['time'] }}</td>
         <td>{{ order['name'] }}</td>
         <td>{{ order['price'] }}</td>
         <td>{{ order['suma'] }}</td>
        </tr>
         {% endfor %}
    </tbody>
        <th align="left">Total:</th>
        <th align="right">{{ all_sume }}</th>
    </table>
</form>
    {% endblock %}

