{% extends "base.html" %}

{% block content %}
<form method="GET" action="/orders">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
    <tbody>
         <td>{{ data.order_id }}</td>
         <td>{{ data.created_time }}</td>
         <td>{{ goods }}</td>
         {% for good in goods %}
        <tr>
         <td>{{ good.name }}</td>
         <td>{{ good.price }}</td>
         </tr>
         {% endfor %}
    </tbody>
    </table>
</form>
    {% endblock %}



