{% extends "base.html" %}

{% block content %}
     <h1 class="title">
  Welcome, {{ user }}!
  Your email is {{ email }}
</h1>
{% if stores is defined %}
        <form method="GET" action="/profile">
            <table class="table table-hover">
                <thead>

                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    </tr>
                </thead>
            <tbody>
                 {% for store in stores %}
                <tr>
                 <td>{{ store.name }}</td>
                 <td>{{ store.city }}</td>
                 <td>{{ store.address }}</td>
                 </tr>
                 {% endfor %}
            </tbody>
            </table>
        </form>
    </a>
{% endif %}


{% endblock %}

